{% extends 'base.twig' %}

{% block instructions %}
  <p>
    Si le fonctionnaire n’a pu, durant la période de disponibilité d’office pour maladie, bénéficier d’un reclassement, il est, à l’expiration de cette durée, soit admis à la retraite, soit s’il n’a pas droit à pension (refus d’octroi de la CNRACL), licencié après avis de la commission administrative paritaire.
  </p>
{% endblock %}

{% block content %}
  <div class="row">
    <p class="label">Nom et prénom de l'agent:</p>
    <p id="name" class="value">{{ data.firstname }} {{ data.lastname }}</p>
  </div>

  <div class="row">
    <p class="label">Date de naissance:</p>
    <p id="birthdate" class="value">{{ data.birthdate|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Date de nomination dans la fonction publique:</p>
    <p id="nomination" class="value">{{ data.nomination|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Collectivité ou établissement:</p>
    <p id="community" class="value">{{ data.information.community }}</p>
  </div>

  <div class="row">
  <p class="label">Grade:</p>
    <p id="grade" class="value">{{ data.grade }}</p>
  </div>

  <div class="row">
    <p class="label">Temps de travail:</p>
    <p id="hours" class="value">{{ data.hours }} heures/semaine</p>
  </div>

  <div class="row">
    <p class="label">Position statutaire actuelle de l'agent:</p>
    <p id="position" class="value">{{ data.position }}</p>
  </div>

  <div class="row">
    <p class="label">Date du comité médical rendant l'avis d'inaptitude:</p>
    <p id="medical" class="value">{{ data.medical|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Licenciement à compter du:</p>
    <p id="effective" class="value">{{ data.effective|date('d/m/Y') }}</p>
  </div>
{% endblock %}
