{% extends 'base.twig' %}

{% block instructions %}
  <p>
    Le fonctionnaire qui est définitivement inapte physiquement à l’exercice de ses fonctions à l’issue d’un congé de maladie, de grave maladie, d’accident de travail, de maladie professionnelle, de maternité, de paternité ou d’adoption ou de la période de disponibilité accordée au titre de l’article 40 (décret 91-298) et qui ne peut être reclassé en application du décret n° 85-1054 du 30 septembre 1985 est licencié.
  </p>
{% endblock %}

{% block content %}
  <div class="row">
    <p class="label">Nom et prénom de l'agent:</p>
    <p id="name" class="value">{{ data.firstname }} {{ data.lastname }}</p>
  </div>

  <div class="row">
    <p class="label">Date de naissance:</p>
    <p id="birthdate" class="value">{{ data.birthdate|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Date de nomination dans la fonction publique:</p>
    <p id="nomination" class="value">{{ data.nomination|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Collectivité ou établissement:</p>
    <p id="community" class="value">{{ data.information.community }}</p>
  </div>

  <div class="row">
  <p class="label">Grade:</p>
    <p id="grade" class="value">{{ data.grade }}</p>
  </div>

  <div class="row">
    <p class="label">Temps de travail:</p>
    <p id="hours" class="value">{{ data.hours }} heures/semaine</p>
  </div>

  <div class="row">
    <p class="label">Position statutaire actuelle de l'agent:</p>
    <p id="position" class="value">{{ data.position }}</p>
  </div>

  <div class="row">
    <p class="label">Date du comité médical rendant l'avis d'inaptitude:</p>
    <p id="medical" class="value">{{ data.medical|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Licenciement à compter du:</p>
    <p id="effective" class="value">{{ data.effective|date('d/m/Y') }}</p>
  </div>
{% endblock %}
