{% extends 'base.twig' %}

{% block instructions %}
  <p>
  </p>
{% endblock %}

{% block content %}
  <div class="row">
    <p class="label">Date d'entrée en vigueur :</p>
    <p id="application" class="value">{{ data.application|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Service concerné :</p>
    <p id="service" class="value">{{ data.service }}</p>
  </div>

  <div class="row">
    <p class="label">Nombre d'agents concernés :</p>
    <p id="agents" class="value">{{ data.agents }}</p>
  </div>

  <div class="row">
    <p class="label">Nombre d'agents concernés :</p>
    <p id="agents" class="value">{{ data.agents }}</p>
  </div>

  <div class="row">
    <p class="label">Raisons du recours à la délégation :</p>
    <p id="reasons" class="value">{{ data.reasons }}</p>
  </div>

  <div class="row">
    <p class="label">Description du projet de délégation :</p>
    <p id="description" class="value">{{ data.description }}</p>
  </div>

  <div class="row">
    <p class="label">Impact sur le personnel :</p>
    <p id="impact" class="value">{{ data.impact }}</p>
  </div>

  <div class="row">
    <p class="label">Consultation du personnel :</p>
    <p id="staff-consulted" class="value">{{ data.staffConsulted ? 'Oui': 'Non' }}</p>
  </div>

{% endblock %}
