{% extends 'base.twig' %}

{% block instructions %}
  <p>L’article 33, alinéa 1 de la loi du 26 janvier 1984 précise que les CT sont consultés pour avis sur les questions relatives à l’organisation des administrations intéressées, aux conditions générales de fonctionnement des services à l’introduction de nouvelles méthodes de travail …
    Conformément à l’article 34 de la loi du 26 janvier 1984, les emplois de chaque collectivité ou établissement sont créés par l’organe délibérant de la collectivité ou de l’établissement.
    Il appartient donc au Conseil Municipal (ou autre assemblée) de fixer l’effectif des emplois à temps complet et non complet nécessaires au fonctionnement des services. En cas de suppression d’emploi ou diminution du nombre d’heures de travail (assimilée à une suppression d’emploi), la décision est soumise à l’avis préalable du CT.
    La modification du nombre d’heures hebdomadaires de service d’un emploi à temps non complet n’est pas assimilée à une suppression d’emploi lorsque la modification n’excède pas 10 % du nombre d’heures de service afférent à l’emploi concerné et ne prive pas le bénéficiaire de l’affiliation à la CNRACL (seuil d’affiliation : 28 heures). L’avis du CT n’est pas requis dans ce cas.
  </p>
{% endblock %}

{% block content %}
  <div class="row">
    <p class="title">{{ data.type }}</p>
  </div>

  <div class="row">
    <p class="label">Date d'entrée en vigueur :</p>
    <p id="application" class="value">{{ data.application|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="title">Emplois</p>
  </div>

  {% for job in data.jobs %}
    <p class="title">Emploi {{ loop.index }}</p>

    <div class="row">
      <p class="label">Description de l'emploi à supprimer :</p>
      <p id="description" class="value">{{ job.description }}</p>
    </div>

    <div class="row">
      <p class="label">Grade :</p>
      <p id="grade" class="value">{{ job.grade }}</p>
    </div>

    <div class="row">
      <p class="label">Durée hebdomadaire de travail :</p>
      <p id="hours" class="value">{{ job.hours }} heures</p>
    </div>

    <div class="row">
      <p class="label">Date de la suppression :</p>
      <p id="suppression" class="value">{{ job.suppression|date('d/m/Y') }}</p>
    </div>

    <div class="row">
      <p class="label">Motif de la suppression :</p>
      <p id="motive" class="value">{{ job.motive }}</p>
    </div>

    {% if job.new %}
      <div class="row">
        <p class="subtitle">Suppression d'emploi suivie d'une création</p>
      </div>

      <div class="row">
        <p class="label">Description de l'emploi à créer :</p>
        <p id="new-description" class="value">{{ job.newDescription }}</p>
      </div>

      <div class="row">
        <p class="label">Grade :</p>
        <p id="new-grade" class="value">{{ job.newGrade }}</p>
      </div>

      <div class="row">
        <p class="label">Durée hebdomadaire de travail :</p>
        <p id="new-hours" class="value">{{ job.newHours }} heures</p>
      </div>

      <div class="row">
        <p class="label">Date de la création :</p>
        <p id="creation" class="value">{{ job.creation|date('d/m/Y') }}</p>
      </div>
    {% else %}
      <div class="row">
        <p class="subtitle">Suppression d'emploi sans suite</p>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
