{% extends 'base.twig' %}

{% block instructions %}
  <p>
    Le compte épargne-temps permet, à la demande des agents titulaires et non titulaires, à temps complet ou non complet, employés de manière continue depuis au moins une année, d’accumuler des droits à congés rémunérés (congés annuels, R.T.T., repos compensateurs).
    Le nombre total de jours inscrits sur le C.E.T. ne peut excéder 60 jours.
  </p>
{% endblock %}

{% block content %}
  <div class="row">
    <p class="label">Modalités d'alimentation du CET :</p>
    <p id="terms" class="value">{{ data.terms|join(', ')  }}</p>
  </div>

  <div class="row">
    <p class="label">Date limite d'alimentation du CET :</p>
    <p id="limit" class="value">{{ data.limit|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Date d'information des agents sur la situation de leur CET :</p>
    <p id="information" class="value">{{ data.information|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Instauration des nouvelles modalités d'utilisation des jours épargnés :</p>
    <p id="establishing" class="value">{{ data.establishing }}</p>
  </div>

  <div class="row">
    <p class="label">Convention financière en cas de mutation :</p>
    <p id="convention" class="value">{{ data.convention ? 'Oui': 'Non' }}</p>
  </div>

  <div class="row">
    <p class="label">Date de mise en place du CET :</p>
    <p id="application" class="value">{{ data.application|date('d/m/Y') }}</p>
  </div>

  <div class="row">
    <p class="label">Consultation du personnel :</p>
    <p id="staff-consulted" class="value">{{ data.staffConsulted ? 'Oui': 'Non' }}</p>
  </div>

{% endblock %}
